<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="assets/css/style.css">
  <link rel="icon" href="assets/imgs/Logo_GranáRoutes.png">
</head>

<body>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container">
      <div class="row">
        <div class="col-md-12"><img src="assets/imgs/Logo_GranáRoutes.png" width="30" height="30" class="d-inline-block align-top m-0" alt=""></div>
      </div><a class="navbar-brand" href="/">&nbsp;Graná Routes&nbsp;</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar2SupportedContent" aria-controls="navbar2SupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
      <div class="collapse navbar-collapse text-center justify-content-end" id="navbar2SupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item mx-2">
            <a class="nav-link" href="/listaRutas">Rutas</a>
          </li>
        </ul>
        <a class="btn navbar-btn text-white mx-2 btn-primary" href="#download">Descargar</a>
      </div>
    </div>
  </nav>

  

<% ref.on("value", function (snapshot) { %>
  <div class="py-5" style="">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
        </div>
      </div>
      <div class="row">
        
        <div class="col-md-12" style=""><iframe src='<%- snapshot.child("mapWeb").val() %>'
            width="100%" height="400"></iframe></div>
        </div>
      
      <div class="row">
        <div class="col-md-12 mt-2">
          <h5 class="mt-2 text-primary" contenteditable="true">Ruta adaptada para:</h5>
          <div class="row"><div class="col-md-12">
            <% lugares.on("value", function (lugaresSnapshot) { %>
            <% snapshot.child("grupos").forEach(function (data) { %>
            <img class="img-fluid d-block float-left mx-1" src="assets/imgs/<%= data.key %>.png" width="50" alt="<%= data.key %>">
            <% }); %>
          <% }); %>
              </div>
          </div>
          <h2 class="mt-2 text-primary"><%= snapshot.child("nombre").val() %></h2>
          <p class="lead" contenteditable="true"><%= snapshot.child("descripcion").val() %><br></p>
          <h2 class="mt-2 text-primary" contenteditable="true">Lugares de la ruta</h2>
          <ol class="" type="1">
          <% lugares.on("value", function (lugaresSnapshot) { %>
            <% snapshot.child("lugares").forEach(function (data) { %>
              <li class="my-1"><b><%= data.key %></b>: <%= lugaresSnapshot.child(data.key).child("descripcion").val() %></li>
            <% }); %>
          <% }); %>
            </ol>
        </div>
      </div>
    </div>
  </div>
<% }); %>



  <div class="bg-primary">
    <div class="container">
      <div class="row">
        <div class="p-4 col-md-4">
          <h2 class="mb-4 text-light">Graná Routes</h2>
          <p class="text-light">Tu aplicación de rutas accesibles por Granada.</p>
        </div>
        <div class="p-4 col-md-4">
          <h2 class="mb-4 text-light">Mapa del sitio</h2>
          <ul class="list-unstyled text-light"> <a href="/" class="text-light">Home</a> <br> <a href="/listaRuta" class="text-light">Lista de rutas</a> <br> <a href="/register" class="text-light">Regístrate</a> <br> <a href="/login" class="text-light">Iniciar sesión</a>
          </ul>
        </div>
        <div class="p-4 col-md-4">
          <h2 class="mb-0 text-light">Contacto</h2><br>
          <a class="btn navbar-btn text-white btn-dark mx-2 ml-5 mb-3" href="/newRoute">Proponer ruta</a>
          <p class="text-light"> <a href="#" class="text-light">
              <i class="fa d-inline mr-3 text-muted fa-envelope-o"></i>info@granaroutes.com</a> </p>
          <p><br></p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 mt-3">
          <p class="text-center text-light">© Copyright 2018 Graná Routes - All rights reserved. </p>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>

</html>